* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #03045e;
  color: #F4F9FC;
  min-height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0px;
  line-height: 1.5;
  position: relative;
}

body::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header {
  background-color: #03045e;
  color: #F4F9FC;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0rem 1.5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .my-name{
  display: flex;
  justify-content: flex-start;
  align-items: center;  
  padding: 10px 1%;
  font-size: 35px;
  font-weight: bold;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    position: relative;
    float: right;
    margin-left: 25px;
    padding: 10px;
}

a {
    color: #F4F9FC;
    text-decoration: none;
}

nav a:hover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    background-color: #00b4d8;
    color:#03045e;
}

.main-image {
  width: 100%;
  height: 50vh;  
  object-fit: cover;
  border-color: #df016b;
  border-style: solid;
  border-left: 10px;
  border-right: 10px;
}

/*
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    justify-content: center;
  }
/*
  .card-column {
    flex: 1 0;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .card-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: #03045e; outline: 2px solid #03045e;
    outline-offset: -2px;
  }
  
  .card-header {
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: #00b4d8;
    color: white;
    border: 2px solid grey;
    border-radius: 8px;
  }
  */

  /* gives glow effect
  .card-text:hover .card-header {
    box-shadow: inset 0px 0px 8px blue, 0 0 15px blue;
  }*/
  /*
  .card-text .code-block {
    flex-grow: 1;
  }
/*  
  .code-card pre {
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    padding: 1.2rem 1rem;
    color: var(--gin);
    border-radius: 8px;
    background-image: linear-gradient(
      rgba(126, 115, 197, 0.3) 0%,
      rgba(126, 115, 197, 0.6) 100%
    );
    display: flex;
    align-items: center;
  }
*/
  @media screen and (min-width: 768px) {
    .main-image {
      height: 264px;
    }
/*
    .card-column {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .card-column:last-child {
      flex-grow: 1;
    }
  }
  */
  @media screen and (min-width: 992px) {
    .main-image {
      height: 176px;
    }
/*
    header {
      width: 75%;
    }
  
    .card-column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }*/

  .footerbar {
    margin: 1.5rem;
    text-align: center;
  }

  .footerbar ul{
    list-style-type: none;
    }
    