* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #03045e;
  color: #F4F9FC;
  min-height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0px;
  line-height: 1.5;
  position: relative;
}

body::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header {
  background-color: #03045e;
  color: #F4F9FC;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0rem 1.5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .my-name{
  display: flex;
  justify-content: flex-start;
  align-items: center;  
  padding: 10px 1%;
  font-size: 35px;
  font-weight: bold;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    position: relative;
    float: right;
    margin-left: 25px;
    padding: 10px;
}

a {
    color: #F4F9FC;
    text-decoration: none;
}

nav a:hover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    background-color: #00b4d8;
    color:#03045e;
}

.main-image {
  width: 100%;
  height: 50vh;  
  object-fit: cover;
  border-color: #df016b;
  border-style: solid;
  border-left: 10px;
  border-right: 10px;
}

#AboutMeWrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 50%;
  grid-template-areas: 
  "box-AM1 box-AM2"
  "image box-AM2";
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  }

.box-AM1 {
  grid-area: "box-AM1";
  background-color: #03045e;
  margin: 3%;
  }

.aboutMePhoto{
    grid-area: "image";
    max-width: 100%;
    height: auto;
    float: left;
    margin: 3%;
  }

p {
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}
  
.box-AM2 {
  grid-area: "box-AM2";
  background-color: #03045e;
  }

#WorkWrapper {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 200px 200px;
  grid-template-areas: "box-1 box-2 box-3" "box-1 box-4 box-5";
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  }

.box-1 {
  grid-area: box-1;
  background-color: #03045e;
  border-right: #F4F9FC;
  border-style: 2px solid;
  margin: 3%;
}

.box-2 {
  grid-area: box-2;
  background-image: linear-gradient(to bottom right,#04b8ed, #048fee);
  margin: 3%;
  border-radius: 6px;
}

.box-2 h2 {
  text-align: center;
  color: #df016b;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  padding: 10%;
}

.box-3 {
  grid-area: box-3;
  background-image: linear-gradient(to bottom right,#04b8ed, #048fee);
  margin: 3%;
  border-radius: 6px;
}

.box-3 h2 {
  text-align: center;
  color: #df016b;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  padding: -50%;
}

.box-4 {
  grid-area: box-4;
  background-image: linear-gradient(to bottom right,#04b8ed, #048fee);
  margin: 3%;
  border-radius: 6px;
}

.box-5 {
  grid-area: box-5;
  background-image: linear-gradient(to bottom right,#04b8ed, #048fee);
  margin: 3%;
  border-radius: 6px;
}
  
  .box-2:hover {
    box-shadow: inset 0px 0px 8px #df016b, 0 0 15px #df016b;
  }

  .box-3:hover {
    box-shadow: inset 0px 0px 8px #df016b, 0 0 15px #df016b;
  }

  .box-4:hover {
    box-shadow: inset 0px 0px 8px #df016b, 0 0 15px #df016b;
  }

  .box-5:hover {
    box-shadow: inset 0px 0px 8px #df016b, 0 0 15px #df016b;
  }
 
 @media screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
  
  nav ul li{
      margin-left: 25px;
      padding: 10px;
  }  

  #WorkWrapper {
    grid-template-columns: 40% 60%;
    grid-template-areas:
      "box-1 box-2"
      "box-1 box-3"
      "box-1 box-4"
      "box-1 box-5";
  }
}

  @media screen and (max-width: 992px) {
    #WorkWrapper {
      grid-template-columns: 20% 80%;
      grid-template-areas:
        "box-1 box-2"
        "box-1 box-3"
        "box-1 box-4"
        "box-1 box-5";
    }
  }
    
  #footerbar {
    margin: 1.5rem;
    text-align: center;
    margin-bottom: 80%;
  }

  #footerbar ul{
    list-style-type: none;
    }
    